body {
  background: linear-gradient(to top, rgba(55, 140, 146) 0%, hsla(55, 55%, 22%, 0.171) 85%), url(/static/img/gatitos.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  height: 100vh;
}

.code {
  display: none;
}
.container {
  margin-top: 50px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

/* Estilos generales del formulario */
form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el bot贸n de enviar */
input[type="submit"] {
  padding: 8px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para los enlaces */
a {
  margin-right: 10px;
}
.float-right {
  float: right;
}

.btn-google {
  /* Estilos generales del bot贸n */
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
}

.btn-google:hover {
  /* Estilos al pasar el cursor sobre el bot贸n */
  /* Por ejemplo, puedes cambiar el color de fondo o el color del texto */
  background-color: #2d9ee0;
  color: #fff;
}

.btn-google:active {
  /* Estilos cuando se presiona el bot贸n */
  /* Por ejemplo, puedes ajustar la sombra o la opacidad */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}